# PHP CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-php/ for more details
#
version: 2
jobs:
  test:
    docker:
      # Specify the version you desire here
      - image: circleci/php:8.0.0

    steps:
      - checkout

      - run:
          name: Setup dependencies
          command: composer install -n --prefer-dist

      - run:
          name: Run Tests
          command: composer test

      - store_test_results:
          path: test/reports

workflows:
  version: 2
  tests:
    jobs:
      - test